@font-face {
  font-family: Karla;
  src: url(./font/karla.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Karla-Bold;
  src: url(./font/karla_bold.ttf);
  font-weight: 500;
}

.App {
  /* background-color: #282c34; */
  background-color: #a8b3c9;
  font-family: Karla;
  font-size: 18pt;
  padding: 0 5vw;
}

.logo {
  height: auto;
  width: 752px;
  max-width: 80vw;
  margin: 0 auto;
}

.hero {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin-top: 5vh;
}

.App-header {
  /* background-color: #282c34; */
  text-align: center;
  background-color: #a8b3c9;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section.question {
  min-height: 100vh;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  section.question.hero { padding: 0; }
  section.question:not(.hero) {
    font-size: 75%;
  }
  .gridWrapper {
    margin-bottom: 5vh;
  }
  #flavor .gridWrapper {
    justify-content: space-around;
  }
  div.card.optionCard div.card-content {
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  #vessel {
    padding-top: 5vh;
  }
  #vessel .flavorWrapper {
    margin-bottom: 1em;
  }
}
#flavor-target, .itemGroup, .spaced { padding: 1em 0 }

.OK {
  max-width: 100px;
  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  outline: currentcolor none medium;
  white-space: nowrap;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding: 4px 14px 6px;
  min-height: 40px;
  background-color: rgb(79, 176, 174);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: Karla-Bold;
}

.buttonAside {
  margin-left: 1em;
  font-size: 0.75em;
  font-weight: unset;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
}

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
}

.optionCard {
  color: rgb(79, 176, 174);
  cursor: pointer;
}

.card-content {
  padding: 1rem;
}

#flavor .flavorWrapper {
  margin: 1em
}

.itemGroup {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
}

.itemButton {
  margin-right: 0px;
  margin-bottom: 8px;
  max-width: 300px;
  width: calc(100% + 0px);
  height: 100%;
  text-align: left;
  width: auto;
  font-family: inherit;
  color: rgb(79, 176, 174);
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  min-height: 40px;
  color: rgb(79, 176, 174);
  animation: 0.25s ease 0s 2 normal none running qNIWx;
  cursor: pointer;
  opacity: 1;
  height: auto;
}

input.customerName {
  display: block;
  width: 100%;
  font-family: inherit;
  /* color: rgb(79, 176, 174); */
  color: black;
  margin-bottom: 0.5em;
  border: none;
  border-bottom: black solid 1px;
  max-width: 400px;
  outline: black none medium;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  -moz-appearance: none;
  font-size: 30px;
  line-height: 38px;
  -moz-osx-font-smoothing: grayscale;
}
section#addItem p:first-child { margin-bottom: 0; }
img.imageOption { cursor: pointer; }
.scoop { border-radius: 100%; cursor: pointer; }
.symbolFill { fill: white }
.symbolFill.selected { fill: rgb(79, 176, 174) }
.symbolOutline { fill: rgb(79, 176, 174) }
.imageVessel { margin: 0.5em; }
.selected:not(.imageOption) { border: solid 1px darkorchid; }
.itemButton.selected { border: solid 2px darkorchid; }
.imageOption.selected { outline: solid 2px darkorchid; }
div.checkoutParent {
  max-width: 600px;
  margin: 2em 0 1em 0;
  outline: solid 1px grey;
  border-radius: 2px;
  padding: 1rem;
}
*:focus {
  outline: none;
}

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}
